@import './theme.scss';
@import '~bootstrap/scss/bootstrap.scss';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  background-color: transparentize($note, 0.75);
  color: $text;
  padding: 0.1rem;
}
